#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS=-v

export TMPPKG := $(CURDIR)/debian/tmp

# scons flags
SCONS_FLAGS := INPUT_PLUGINS=raster,sqlite,postgis,ogr,shape,osm,gdal,kismet
SCONS_FLAGS += PROJ_INCLUDES=/usr/include PROJ_LIBS=/usr/lib
SCONS_FLAGS += SYSTEM_FONTS=/usr/share/fonts/truetype/ttf-dejavu
SCONS_FLAGS += XMLPARSER=libxml2
SCONS_FLAGS += DESTDIR=$(TMPPKG)
SCONS_FLAGS += PREFIX=/usr LIB_DIR_NAME=/mapnik/2.0

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	export CFLAGS += -O0
else
	export CFLAGS += -O2
endif

%:
	dh $@

override_dh_auto_configure:
	scons $(SCONS_FLAGS) CCFLAGS="$(CFLAGS)" configure
	#dh_auto_configure

override_dh_auto_build:
	scons $(SCONS_FLAGS)

override_dh_auto_install:

override_dh_install:
	install -m 755 utils/mapnik-config/mapnik-config $(TMPPKG)/usr/bin
	install -m 644 bindings/python/mapnik/*py $(TMPPKG)/usr/lib/python2.6/dist-packages/mapnik2/
	install -m 644 bindings/python/mapnik/*in $(TMPPKG)/usr/lib/python2.6/dist-packages/mapnik2/
	install -m 755 debian/generate_image.py $(TMPPKG)/usr/bin/generate_image.py
	cp -a bindings/python/mapnik/ogcserver $(TMPPKG)/usr/lib/python2.6/dist-packages/mapnik2/
	dh_install --sourcedir=$(TMPPKG)
	dh_link -plibmapnik2-2.0 usr/lib/libmapnik2.so.2.0.0 usr/lib/libmapnik2.so.2.0
	dh_link -plibmapnik2-2.0-dev usr/lib/libmapnik2.so.2.0.0 usr/lib/libmapnik2.so

	# build Python API documentation
	# and trick epydoc into loading the shlib too
	-(cd docs/epydoc_config; \
	ln -s ../../bindings/python/mapnik mapnik2; \
	LD_LIBRARY_PATH=/home/anthony/mapnik2/mapnik2-2.0.0/debian/libmapnik2-2.0/usr/lib/ ./build_epydoc.sh; \
	rm -f mapnik2; \
	cd ../..;)
	dh_install -pmapnik2-doc docs/api_docs/python /usr/share/doc/mapnik-doc/

override_dh_shlibdeps:
	dh_shlibdeps -l $(CURDIR)/debian/libmapnik2-2.0/usr/lib

override_dh_auto_clean:
	dh_auto_clean
	find -name '*.pyc' -exec rm -f {} \;
	find -name '.sconsign*' -exec rm -f {} \;
	find -name '*.o' -exec rm -f {} \;
	find plugins -name '*.os' -exec rm -f {} \;
	find plugins -name '*.input' -exec rm -f {} \;
	rm -rf .sconf_temp config.log bindings/python/mapnik/paths.py \
		utils/shapeindex/shapeindex config.py config.cache \
		docs/api_docs/python/* demo/viewer/viewer.ini \
		utils/mapnik-config/mapnik2.pc \
		utils/mapnik-config/mapnik-config \
		.pc

override_dh_auto_test:

override_dh_prep:
